<!--
<div class="tabs">
	<ul class="tab-list">
		<li><a href="#" class="active">Tab 1</a></li>
		<li><a href="#">Tab 2</a></li>
		<li><a href="#">Tab 3</a></li>
	</ul>
</div>
-->
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">tabpanel 1</div>
    <div role="tabpanel" class="tab-pane" id="profile">tabpanel 2</div>
    <div role="tabpanel" class="tab-pane" id="messages">tabpanel 3</div>
    <div role="tabpanel" class="tab-pane" id="settings">tabpanel 4</div>
  </div>

</div>