/*

*/

/*------------------------------------*\
    $TABLE OF CONTENTS
\*------------------------------------*/
/**
 * VARIABLES..............................Declarations of Sass variables 
 * .....Colors
 * .....Typography
 * .....Layout
 * .....Defaults
 * .....Breakpoints
 * MIXINS.................................Sass mixins 
 * RESET..................................Set reset defaults
 * GLOBAL CLASSES.........................Set reset defaults
 * GLOBAL ELEMENTS........................Establish global styles
 * .....Main
 * .....Headings
 * .....Text-related elements (p, blockquote, lists)
 * .....Defaults
 * .....Breakpoints
 * TYPOGRAPHY------------------------------
 * MEDIA------------------------------
 * LAYOUT------------------------------
 * NAVIGATION------------------------------
 * TOC To Be Continued
 */



/*@import "scss/generic/variables";*/
/*@import "scss/generic/mixins";*/
/*@import "scss/generic/reset";*/





/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
/*@import "scss/base/global-classes";*/
/*@import "scss/base/main";*/
/*@import "scss/base/links";*/
/*@import "scss/base/headings";*/
/*@import "scss/base/text";*/
/*@import "scss/base/lists";*/
/*@import "scss/base/media";*/
/*@import "scss/base/forms";*/
/*@import "scss/base/tables";*/
/*@import "scss/base/animation";*/





/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/*@import "scss/objects/layout";*/


/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
/*@import "scss/objects/header";*/
/*@import "scss/objects/nav";*/
/*@import "scss/objects/main";*/
/*@import "scss/objects/footer";*/



/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
/*@import "scss/objects/text";*/


/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
/*@import "scss/objects/icons";*/
/*@import "scss/objects/buttons";*/
/*@import "scss/objects/blocks";*/
/*@import "scss/objects/lists";*/
/*@import "scss/objects/tooltip";*/
/*@import "scss/objects/accordion";*/
/*@import "scss/objects/tabs";*/
/*@import "scss/objects/sections";*/
/*@import "scss/objects/article";*/
/*@import "scss/objects/comments";*/

.grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

#focusedInput {
  border-color: #ccc;
  border-color: rgba(82,168,236,.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
  box-shadow: 0 0 8px rgba(82,168,236,.6);
}