<p class="text-left">Left aligned text.</p>
<p class="text-center">Center aligned text.</p>
<p class="text-right">Right aligned text.</p>
<p class="text-justify">Justified text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet reprehenderit non libero odio, adipisci, repellat aut ipsum aliquam magnam ullam, delectus nemo placeat. Possimus rerum, voluptates. Necessitatibus, iure, eum.</p>
<p class="text-nowrap">No wrap text.</p>