MARKED TEXT
<p>You can use the mark tag to <mark>highlight</mark> text.</p>

DELETED TEXT
<p><del>This line of text is meant to be treated as deleted text.</del></p>

STRIKETHROUGH TEXT
<p><s>This line of text is meant to be treated as no longer accurate.</s></p>

INSERTED TEXT
<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>

UNDERLINED TEXT
<p><u>This line of text will render as underlined</u></p>

SMALL TEXT
<p><small>This line of text is meant to be treated as fine print.</small></p>

BOLD
<p><strong>rendered as bold text</strong></p>

ITALICS
<p><em>rendered as italicized text</em></p>