BASIC ABBREVIATION
<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr></p>

INITIALISM
<p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the best thing since sliced bread.</p>