BRAND
<ul class="sg-colors">
	<li>
		<span class="sg-swatch btn-primary"></span>
		<span class="sg-label">primary</span>
	</li>
	<li>
		<span class="sg-swatch btn-success"></span>
		<span class="sg-label">success</span>
	</li>
	<li>
		<span class="sg-swatch btn-info"></span>
		<span class="sg-label">info</span>
	</li>
	<li>
		<span class="sg-swatch btn-warning"></span>
		<span class="sg-label">warning</span>
	</li>
	<li>
		<span class="sg-swatch btn-danger"></span>
		<span class="sg-label">danger</span>
	</li>
</ul>
BACKGROUND
<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-primary"></span>
		<span class="sg-label">primary</span>
	</li>
	<li>
		<span class="sg-swatch bg-success"></span>
		<span class="sg-label">success</span>
	</li>
	<li>
		<span class="sg-swatch bg-info"></span>
		<span class="sg-label">info</span>
	</li>
	<li>
		<span class="sg-swatch bg-warning"></span>
		<span class="sg-label">warning</span>
	</li>
	<li>
		<span class="sg-swatch bg-danger"></span>
		<span class="sg-label">danger</span>
	</li>
</ul>
TEXT
<ul class="sg-colors">
	<li>
		<span class="sg-label text-primary">primary</span>
	</li>
	<li>
		<span class="sg-label text-success">success</span>
	</li>
	<li>
		<span class="sg-label text-info">info</span>
	</li>
	<li>
		<span class="sg-label text-warning">warning</span>
	</li>
	<li>
		<span class="sg-label text-danger">danger</span>
	</li>
	<li>
		<span class="sg-label text-muted">muted</span>
	</li>
</ul>